/* Add CSS styling here */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

.portfolio {
    display:flex;
    background-color: black;
    color: white;
    width: auto;
    height:100px;
    justify-content: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 50px;

}




.container {
    display: flex;
     
}


.container .links a{
    display:flex;
    width: 75px;
    height: 100px;
    background-color: gray;
    flex-wrap: wrap;
    
}

.contactme {
    display:flex;
    justify-content: center;
    width:1400px;
    height: 400px;
    background-color:rgb(250, 186, 9);
    
}

h2 {

    font-weight: bold;
    font-size: 75px;
    margin: 100px;
    font-family: 'Arimo', sans-serif;
    color:rgb(143, 140, 140);

}

@media(max-width:500px){
    .container .links a{
        width: 3.3rem;
        flex-wrap: nowrap;
    }
    .contactme {
                
                width: 28rem;
            }


}

.input{

    display:flex;
    justify-content: center;
    background-color:rgb(8, 8, 163) ;
    animation-name:email ;
    animation-duration: 3s;
}

.input:hover{

    animation-name:email ;
    animation-duration: 3s;
}
.input p{
    color:white;
    font-size: 30px;
}


@keyframes email{

    50%{background-color: gray;}
    100%{background-color: rgb(102, 75, 26);}
}

.social-media{
    display:flex;
    justify-content: center;
    background-color:rgb(8, 8, 163);
}

h3 {
    font-size: 40px ;
    color:rgb(235, 109, 130);
}

.footer{
    display:flex;
    background-color: black;
    height: 180px;
    justify-content: center;
    
}

.footer img {
    height:50px;
    width: 70px;
    margin: 20px;
    border:30px;

}

button {

    height:50px;
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 10px;

}

button:hover{
    animation-name: button;
    animation-duration: 3s;

}

@keyframes button{

    25%{background-color:rgb(161, 241, 161);}
    50%{background-color:rgb(133, 241, 133);}
    75%{background-color:rgb(33, 236, 33);}
    100%{background-color:rgb(9, 104, 9);}

}

img:hover{

    animation-name:images;
    animation-duration: 3s;
}

@keyframes images{

    100%{background-color:purple}
}
